<title> CRM ADMIN DATABASE INSERTION </title>

<h2 class="heading">CRM ADMIN DATABASE INSERTION</h2>
<form method="POST">
    <input type="text" placeholder="Table name" name="table" required> <br>
    <input type="text" placeholder="Column name" name="column" required> <br>
    <input type="text" placeholder="Value name" name="value" required> <br>
    <input type="checkbox" name="admincheck" value="admincheck" required>
    <label for="logout"> Are you sure you want to insert this?</label><br>
    <button type="submit">Insert</button>
</form>