
<title> CRM Home </title>

<head>
    <link rel="stylesheet" href ="home.css">
</head>
<h2 class="heading">Welcome to the CRM</h2>
<p>You are signed in as: {{signedInUser}}  <button onclick="document.location='logout'" type="button">logout</button></p>
<body style="background-color:powderblue;">


<aside>
<ul>
  <li> <button type="button">Deals</button></li>
  <li><button type="button">Leads</button></li>
  <li><button type="button">Interactions</button></li>
  <li><button type="button">Your items</button></li>
</ul>
</aside>

<!--<button type="button">Leads</button>-->
<!--<button type="button">Deals</button>-->
<!--<button type="button">Interactions</button>-->
<!--<button type="button">Your Items </button>-->
</body>
</html>
<span style='font-size:100px;'>&#128489;</span>
<article>
    <div class="column">
  <header>
    <h1 class="column">Leads</h1>
  </header>
  <p>Leads will be displayed here</p>
</article>
<!--<article>
  <header>
    <h1 class="column">Deals</h1>
  </header>
  <p>Deals will be displayed here</p>
</article>
<article>
  <header>
    <h1 class="column">Interactions</h1>
  </header>
  <p>Interactions will be displayed here</p>
</article>
<article>
  <header>
    <h1 class="column">Your items</h1>
  </header>
  <p>Your items will be displayed here</p>
</article>
</div>
<html><head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
   <div class="header">
        <h1>Header</h1>
        <p>Resize the browser window to see the responsive effect.</p>
    </div>

    <div class="topnav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>
-->
    <div class="row">
        <div class="column">
            <h2>Interactions</h2>
            <p>Interactions will be displayed here.</p>
        </div>

        <div class="column">
            <h2>Deals</h2>
            <p>Deals will be displayed here</p>
        </div>

        <div class="column">
            <h2>Leads</h2>
            <p>Leadswill be displayed here</p>
        </div>
    </div>


</body></html>