<!DOCTYPE html>
<html>
<head>
    <title> CRM Welcome </title>
    <link rel="icon" type="image/x-icon" href="crmlogo.png">
    <link rel="stylesheet" href="master.css">
</head>
<link rel="stylesheet" href="welcome.css"></link>
<div>
    <button class="topright" onclick="document.location='login'" type="button">Login</button>
    <button onclick="document.location='signup'" type="button">Sign up</button>
</div>
<div>
    <body>
        Welcome to the CRM <br> This is a Customer Relationship Management system developed by work experience students at The Curve.
    </body>
</div>
<body style="background-color:rgb(207, 206, 228);">
</body>
</html>
<!-- <p><img> src="/templates/crmlogo.png" alt="crmlogo" style="float:centre;width:80px;height:80px;-->
<!--&lt;img src="/templates/crmlogo.png" alt="crmlogo"&gt;-->
<html>
<body>

<img id="crmlogo" src=".\crmlogo.png" width="400" height="320">
</body>
</html>